.h-50{
	line-height: 50px;
}
.eq-detail .title-detail{
	font-size: 16px;
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 10px;
}
.eq-detail strong{
	    min-width: 90px;
    text-align: right;
    display: inline-block;
    margin-right: 20px;
}
.detail-line .panel-body{
	padding-bottom:32px; 
}
.detail-line .row{
	line-height: 30px;
}
.form-horizontal .form-inline .form-group{
	margin-right: 0;
	margin-left: 0;
}
.form-footer{
	border-top:1px solid #edf1f2; 
	margin-top:32px;
	padding-top:32px;
}
.table-clip{
	 table-layout: fixed;
}
.sn-span{
	cursor:pointer;display:block;width:100%;
	 overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.table-clip td{
	word-break:break-all; /*支持IE，chrome，FF不支持*/

　　word-wrap:break-word;/*支持IE，chrome，FF*/
}
.btn-search.btn{
	padding-left:20px;
	padding-right:20px;
}
.table > thead > tr > th,
.table > tbody > tr > td{
	vertical-align: middle;
}
input:focus,select:focus
{ 
	/*outline:1px solid red !important;*/
	border:1px solid #ff8000 !important;
}
.panel-body{
  padding:32px 20px 10px;
}
.form-inline .form-group label{
	margin-right: 8px;
}
.search-form label{
	margin-bottom:10px;
	padding-top: 7px;
	text-align: right;
}
.search-form .row{
	margin-bottom: 22px;
}
.search-form .col-lg-1{
	padding-right: 0;
}
.panel{
	border:none !important;
	box-shadow: none !important;
}
.panel-footer{
	padding: 32px 15px;
}
.form-add{
	border-top:1px solid #F1EDED;
	padding-top:32px;
	margin-top:17px;
}
.btn.btn-warning.btn-sm{
	margin-right: 5px;
}
.panel-b-bottom{
	border-bottom:1px solid #F1EDED;
}
.error{
	color: red;
}
.num-page input[type='number']{
	width: 40px;
}
.icon-double-angle-down,.icon-double-angle-up{
	cursor: pointer;
}
.font-color{
	color:#fb9126;
}
.sinout{
	cursor: pointer;

}
.sinout:active{
	color: #428bca;
}

@media (min-width: 768px) and (max-width: 1200px) {
	.search-form label{
		 
		text-align: left;
	}
}
.detail-sn{
	margin: 20px auto;
}
.detail-sn td{
	color: #919699;
	font-size: 20px;
	font-weight: bold;
	text-align: center;

}
.detail-sn td span{
	display: block;
	border-radius: 3px;
	border:1px solid #e6e6e6;
	padding: 6px 50px;
    margin: 8px 14px;
}
.detail-sn .sn-td{
	color: #e5e9ec;
	font-weight: 100;
}