 <div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><i class="icon-remove"></i></button>
        <h4 class="modal-title text-center">新增弹夹明细 {{clipNum}} </h4>
      </div>
      <div class="modal-body">
      	<p>新增弹夹号:</p>
      	<div class="modal-body">
      	<div class="row">
      		<div class="col-sm-2 col-xs-4" ng-repeat="date in clips">
      			{{date}}
      		</div>	
      	</div>
      	</div>
      </div>
      <div class="modal-footer">
          <a ui-sref="layout.clipList">
            <button class="btn btn-warning" ng-click="addClipBtn()">确认</button>
          </a>
      </div>
    </div>
  </div>
</div>