<div class="panel panel-info">
  <div class="panel-heading">
	<h4>新增弹夹</h4> 
  </div>
  <div class="panel-body">
  	<form class="form-inline" style="padding-top:50px;">

	  <div class="form-group col-sm-offset-2">
	    <label>新增弹夹</label>
	    <div class="input-group">
		    <select class="form-control" style="width:150px;">
	    		<option>5</option>
	    		<option>10</option>
	    		<option>15</option>
	    	</select>
		    <div class="input-group-addon">个</div>
	    </div>
	  </div>
  	  <button type="button" class="btn btn-warning" ng-click="showModal()">提交</button>
	</form>
  </div>
 

</div>
 