<div class="panel panel-info">
  <div class="panel-heading">
	<h4>{{ '新增弹夹号' | translate }}</h4> 
  </div>
  <div class="panel-body">
  <div class="row">
  <div class="col-sm-offset-4 col-sm-4">

  	<form class="form-inline" style="padding:40% 0;">

	  <div class="form-group center-block">
	    <label>{{ '新增弹夹号' | translate }}</label>
	    <div class="input-group">
		    <select class="form-control" ng-model="clipNum" style="padding:6px 50px;">
	    		<option value="5">5</option>
	    		<option value="10">10</option>
	    		<option value="15">15</option>
	    	</select>
		    <div class="input-group-addon">个</div>
	    </div>
	  </div>
  	  
	</form>
</div>
</div>
	<div class="row form-add">
		<div class="center-block" style="width:90px">
			<button type="button" class="btn btn-warning btn-search" ng-click="showModal()">{{'提交' | translate }}</button>
		</div>
	</div>
  </div>
 </div>
</div>
</div>
 