<div class="panel panel-info">
	<div class="panel-heading">
		<h4>SN码修改</h4> 
	</div>
  <div class="panel-body">
     <form class="form-horizontal">
		  <div class="form-group">
		    <label class="col-sm-2 control-label">弹夹号:<span>1001</span></label>
		    <label class="col-sm-8" style="padding-top:7px;">漫游宝类型:<span>3G PLUS</span></label>
		  </div>
		  <div class="form-group">
		    <label for="eqId" class="col-sm-2 control-label">柜子简码:</label>
		    <div class="col-sm-8 col-lg-4">
		      <input type="password" class="form-control" id="eqId">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="eqId" class="col-sm-2 control-label">SN码(NO.1):</label>
		    <div class="col-sm-8 col-lg-4">
		        <input type="text" class="form-control">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="eqId" class="col-sm-2 control-label">SN码(NO.2):</label>
		    <div class="col-sm-8 col-lg-4">
		        <input type="text" class="form-control">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="eqId" class="col-sm-2 control-label">SN码(NO.3):</label>
		    <div class="col-sm-8 col-lg-4">
		        <input type="text" class="form-control">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="eqId" class="col-sm-2 control-label">SN码(NO.4):</label>
		    <div class="col-sm-8 col-lg-4">
		        <input type="text" class="form-control">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="eqId" class="col-sm-2 control-label">SN码(NO.5):</label>
		    <div class="col-sm-8 col-lg-4">
		        <input type="text" class="form-control">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="eqId" class="col-sm-2 control-label">SN码(NO.6):</label>
		    <div class="col-sm-8 col-lg-4">
		        <input type="text" class="form-control">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="eqId" class="col-sm-2 control-label">SN码(NO.7):</label>
		    <div class="col-sm-8 col-lg-4">
		        <input type="text" class="form-control">
		    </div>
		  </div>
		  <div class="form-group border-top">
		    <div class="col-sm-offset-2 col-sm-10">
		    	<a ui-sref="clipList">
		    		<button type="button" class="btn btn-warning">返回</button>
		    	</a>
		  	 	<button type="button" class="btn btn-warning">提交</button>
		  	</div>
		  </div>
		   
		</form>


  </div>
   
</div>