<div class="panel panel-info">
	<div class="panel-heading">
		<h4>SN码修改</h4> 
	</div>
  <div class="panel-body">
  	<div class="row">
  	  <div class="col-sm-offset-3 col-lg-6">
     	<form class="form-horizontal" name="add_sn">
		  <div class="form-group">
		    <label class="col-sm-3 control-label">{{'弹夹号' |translate }}:</label>
		    <div class="col-sm-9 col-lg-4"><label class="control-label"> {{ boxNumber }} </label></div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-3 control-label">{{'漫游宝类型'|translate}}:</label>
		    <div class="col-sm-9">
		      	<select class="form-control" ng-model="deviceType">
		    		<option selected hidden=""></option>
		    		<option value="1" selected>{{'3G漫游宝'|translate}}</option>
		    	</select>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-3 control-label">{{'SN码'|translate}}(NO.1):</label>
			    <div class="col-sm-9">
			        <input type="text" name="sn1" ng-model="sn1" ng-change="validSnChange(sn1)" class="form-control"/>
		        <div class="error" 
			        ng-show="!validSn(sn1)">{{'必须是16个数字+字母' |translate}}</div>
			  </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-3 control-label">{{'SN码'|translate}}(NO.2):</label>
		    <div class="col-sm-9">
		        <input type="text" name="sn2" ng-model="sn2" ng-change="validSnChange(sn2)" class="form-control"/>
		        <div class="error" 
			        ng-show="!validSn(sn2)">必须是16个数字+字母</div>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-3 control-label">{{'SN码'|translate}}(NO.3):</label>
		    <div class="col-sm-9">
		        <input type="text" name="sn3" ng-model="sn3" ng-change="validSnChange(sn3)" class="form-control"/>
		        <div class="error" 
			        ng-show="!validSn(sn3)">必须是16个数字+字母</div>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-3 control-label">{{'SN码'|translate}}(NO.4):</label>
		    <div class="col-sm-9">
		        <input type="text" name="sn4" ng-model="sn4" ng-change="validSnChange(sn4)" class="form-control"/>
		        <div class="error" 
			        ng-show="!validSn(sn4)">必须是16个数字+字母</div>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-3 control-label">{{'SN码'|translate}}(NO.5):</label>
		    <div class="col-sm-9">
		        <input type="text" name="sn5" ng-model="sn5" ng-change="validSnChange(sn5)" class="form-control"/>
		        <div class="error" 
			        ng-show="!validSn(sn5)">必须是16个数字+字母</div>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-3 control-label">{{'SN码'|translate}}(NO.6):</label>
		    <div class="col-sm-9">
		        <input type="text" name="sn6" ng-model="sn6" ng-change="validSnChange(sn6)" class="form-control"/>
		        <div class="error" 
			        ng-show="!validSn(sn6)">必须是16个数字+字母</div>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-3 control-label">{{'SN码'|translate}}(NO.7):</label>
		    <div class="col-sm-9">
		        <input type="text" name="sn7" ng-model="sn7" ng-change="validSnChange(sn7)" class="form-control"/>
		        <div class="error" 
			        ng-show="!validSn(sn7)">必须是16个数字+字母</div>
		    </div>
		  </div>
		  
		</form>
	  </div>
	</div>
	<div class="row form-add">
    	<div class="center-block" style="width:190px;">
    	<a ui-sref="layout.clipList">
    		<button type="button" class="btn btn-default btn-search">{{'返回' | translate }}</button>
    	</a>
  	 	<button type="button" class="btn btn-warning btn-search" ng-click="saveSns()">{{'提交' | translate }}</button> 
  	 	</div>
  	</div>
  </div>
  
</div>