 <div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><i class="icon-remove"></i></button>
        <h4 class="modal-title text-center">excel文件上传</h4>
      </div>
      <div class="modal-body">
      	<div class="modal-body" id="uploadModel">
      	<div class="row">
      		<div class="col-sm-12">
             <file-upload></file-upload>
             <!--  <form name="testupload" id="testupload" enctype="multipart/form-data">
                  <input type="file" id="file" name="uploadExcel" ng-model="file" />
                  <input type="button" id="uploadForm" ng-click="uploadForm(file)" value="上传"  />
              </form> -->
            
      		</div>	
      	</div>
      	</div>
      </div>
      <div class="modal-footer">
          <button class="btn btn-default" ng-click="$hide()">close</button>
         
      </div>
    </div>
  </div>
</div>