<div class="container">
	<header>
		<img src="img/logo.png"  />
	</header>
	<section class="login-form">
		<div class="panel">
			<div class="panel-body">
				<form class="form-horizontal ">
				  <div class="form-group">
				      <img src="img/ll.png" width="45%" class="center-block" />
				  </div>
				  <div class="form-group text-center" style="margin-bottom: 50px !important;">
				  <strong>Self-service &nbsp;device &nbsp;management <br />platform</strong>
				  </div> 

				  <div class="form-group">
				    <div class="input-group">
				      <div class="input-group-addon">
				      	<i class="icon-user"></i>
				      </div>
				      <input type="text" class="form-control" ng-model="username" value="" id="exampleInputAmount" placeholder="Skyroam@skyroam.com">
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="input-group">
				      <div class="input-group-addon">
				      	<i class="icon-lock"></i>
				      </div>
				      <input type="password" class="form-control" ng-model="password" value="" id="exampleInputAmount" placeholder="password">
				    </div>
				  </div>
				  <div class="form-group">
				  		<button type="button" class="btn btn-primary" ng-click="submitLogin()">login</button>
				  </div>
				</form>
			</div>
		</div>
	</section>
</div>