<div class="panel panel-info">
	<div class="panel-heading">
		<h4>编辑柜子</h4> 
	</div>
  <div class="panel-body">
  	<div class="row">
  	  <div class="col-sm-offset-2 col-lg-7">
     	<form class="form-horizontal">
		  <div class="form-group">
		    <label class="col-sm-3 control-label">{{'柜子简码' | translate }}</label>
		    <div class="col-sm-9">
		    	<label class="control-label">{{kioskDetail.kioskNo}}</label>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-3 control-label">{{'柜子SN' | translate }}</label>
		    <div class="col-sm-9">
		      <label class="control-label">{{kioskDetail.lSN}}</label>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="eqId" class="col-sm-3 control-label">地区</label>
		    <div class="col-sm-9">
		        <div class="row"> 
					<div class="col-sm-4">
					  <select class="form-control"  
					    ng-model="selCountryCode" 
					    ng-options="data.countryCode as data.countryName for data in countrylist"
					    ng-selected="data.countryCode==selCountryCode"
					    ng-change="selectedCountry(selCountryCode)">
						<option value="">---{{'国家' | translate }}---</option>
						</select>
					</div>
					<div class="col-sm-4">
					    <select class="form-control"  
					    ng-model="selProvinceCode" 
					    ng-options="data.provinceCode as data.provinceName for data in provincelist"
					    ng-selected="data.provinceCode==selProvinceCode"
					    ng-change="selectedProvince(selProvinceCode)">
						<option value="">---{{'省' | translate }}---</option>
						</select>
					</div>
					<div class="col-sm-4">
					    <select class="form-control"  
					    ng-model="selCityCode" 
					    ng-options="data.cityCode as data.cityName for data in citylist"
					    ng-selected="data.cityCode==selCityCode"
					    ng-change="selectedCity(selCityCode)">
						<option value="">---{{'市' | translate }}---</option>
						</select>
					</div>
				 
				</div>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="address" class="col-sm-3 control-label">{{'详细地址' | translate }}</label>
		    <div class="col-sm-9">
		      <input type="text" class="form-control" id="address" ng-model="kioskDetail.address">
		    </div>
		  </div>
		  <div class="form-group">
		    <label   class="col-sm-3 control-label">{{'归属客户' | translate }}</label>
		    <div class="col-sm-9">
		      	<select class="form-control" >
		    		<option value="1" selected>skyroam</option>
		    	</select>
		    </div>
		  </div>
		</form>

	</div>
	</div>
	<div class="row form-add">
    	<div class="center-block" style="width:190px;">
    	<a ui-sref="layout.equipmentDetail({id: kioskDetail.kioskNo })">
    		<button type="button" class="btn btn-default btn-search">{{'取消' | translate }}</button>
    	</a>
  	 	<button type="button" class="btn btn-warning btn-search" ng-click="editKiosk()">{{'提交' | translate }}</button> 
  	 	</div>
  </div>
   
</div>