<div class="panel panel-info eq-detail">
	<div class="panel-heading">
		<h4>柜子详情</h4> 
	</div>
  <div class="panel-body">
  <div class="row">
     
     	<div class="panel">
     		<div class="panel-heading">
     			<h5 class="title-detail">基本信息</h5>
     		</div>
	     	<div class="panel-body">
		        
		        <div class="row">
		        	<div class="col-lg-3 col-sm-6">
			        	<strong class=" ">柜子简码:</strong>
			        	<label class=" ">{{id}}</label>
			        </div>
			        <div class="col-lg-6">
						<strong class=" ">柜子SN:</strong>
			        	<label class=" ">dbkd 1233 4333</label>
		        	</div>
		        </div>
		        <div class="row">
		        	<div class="col-lg-3 col-sm-6">
		        		<strong class=" ">软件版本:</strong>
		        		<label class=" ">CN1.2</label>
		        	</div>
		        	<div class="col-lg-6 ">
						<strong class=" ">归属客户:</strong>
		        		<label class=" ">skyroam</label>
		        	</div>
		        </div>
		        <div class="row">
			        <div class="col-lg-3 col-sm-6">
			        	<strong class=" ">布放位置:</strong>
			        	<label class=" ">CN1.2</label>
			        </div>
		     	</div> 
	     	</div>
     	</div>

     	<div class="panel">
     		<div class="panel-heading">
     			<h5 class="title-detail">柜子状态</h5>
     		</div>
	     	<div class="panel-body">
		        <div class="row">
		        	<div class="col-lg-3 col-sm-6">
			        	<strong class="">整机状态:</strong>
			        	<label class="">
			        		<span class="text-danger">故障</span>
			        	</label>
		        	</div>
		        	<div class="col-lg-3 col-sm-6">
		        		<strong class=" ">显示器:</strong>
		        		<label class=" ">正常</label>
		        	</div>
		        </div>
		        <div class="row">
		        	<div class="col-lg-3 col-sm-6">
			        	<strong class="">网络:</strong>
			        	<label class="">
			        		<span>联网</span>
			        	</label>
		        	</div>
		        	<div class="col-lg-3 col-sm-6">
		        		<strong class=" ">开关机:</strong>
		        		<label class=" ">开机</label>
		        	</div>
					 
		        	<div class="col-lg-3 col-sm-6">
						<strong class=" ">软件:</strong>
		        		<label class=" ">正常</label>
		        	</div>
		        	
		        </div>
		        <div class="row">
		        	<div class="col-lg-3 col-sm-6">
			        	<strong class=" ">UPS电源:</strong>
			        	<label class=" ">正常</label>
			        </div>
		        	<div class="col-lg-3 col-sm-6">
			        	<strong class=" ">传送结构:</strong>
		        		<label class=" ">异常</label>
			        </div>
			        <div class="col-lg-3 col-sm-6">
			        	<strong class=" ">前读卡器:</strong>
		        		<label class=" ">异常</label>
			        </div>
			    </div>
			    <div class="row">
			        <div class="col-lg-3 col-sm-6">
			        	<strong class=" ">后读卡器:</strong>
		        		<label class=" ">异常</label>
			        </div>
			        <div class="col-lg-3 col-sm-6">
			        	<strong class=" ">刷卡器:</strong>
		        		<label class=" ">异常</label>
			        </div>
			        <div class="col-lg-3 col-sm-6">
			        	<strong class=" ">密码键盘:</strong>
		        		<label class=" ">异常</label>
			        </div>
		     	</div> 
	     	</div>
     	</div>

     	<div class="panel">
     		<div class="panel-heading">
     			<h5 class="title-detail">柜内状态</h5>
     		</div>
	     	<div class="panel-body">
		        <div class="row">
		        	<div class="col-lg-3 col-sm-6">
			        	<strong class="">漫游宝数量:</strong>
			        	<label class="">
			        		<span class="text-danger">120/60</span>
			        	</label>
		        	</div>
		        	<div class="col-lg-3 col-sm-6">
		        		<strong class=" ">需上货:</strong>
		        		<label class="">100</label>
		        	</div>
		        	<div class="col-lg-3 col-sm-6 ">
		        		<strong class=" ">已回收:</strong>
		        		<label class="">100/150</label>
		        	</div>
		        </div>
		        <div class="">

		        </div>
		    </div>
		</div>
		<div class="panel">
     		<div class="panel-heading">
     			<h5 class="title-detail">故障记录</h5>
     		</div>
	     	<div class="panel-body">
		        <div class="row">
		        <div class="col-lg-12">
		        	<p class=" ">1、[运行中]&nbsp;2016-01-21 10:00 &nbsp;1001号柜子维修完毕恢复正常运行;</p>
		        </div>
		        </div>
		    </div>
		</div>

   
  </div>
   
</div>